<?xml version="1.0"?>
<system_config>
  <main_server
    network_name="server"
    id="server"
  />

  <inter_server
    connected_from="server"
    network_name="server_1"
    id="server_1"
  />

  <inter_server
    connected_from="server"
    network_name="server_2"
    id="server_2"
  />

  <board
    id="odroid"
    connected_from="server"
    network_name="set_network_name_here"
    os="ubuntu"
  />

  <board
    id="odroid1"
    connected_from="server_1"
    network_name="set_network_name_here"
    os="ubuntu"
  />

  <board
    id="localhost"
    connected_from="server"
    network_name="localhost"
    os="ubuntu"
  />
    
  <board_class
    class_name="cortex-A8">
  
    <board1 id="odroid" />
    <board1 id="odroid1" />
  </board_class>

  <tact_username value="tact"/>

</system_config>
